# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

*.bin

# Distribution / packaging
.Python
build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# Ignore .pth files
output/
data/
checkpoints/
goldStandard/
*.pth
*.json


#Latex files
/rapport/**
!/rapport/*.tex
!/rapport/*.bib
!/rapport/assets/**
!/rapport/*.pdf
!/rapport/*.sty
!/rapport/*.sh
!/rapport/*.bat